body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridWrapper {
    display: grid;
    width: 100%;
    margin: 20px;
}

.cell {
    aspect-ratio: 1/1;
    border: 1px solid black;
}

.darkCell {
    background-color: #222;
}

.lightCell {
    background-color: #ddd;
}


#modeTogglerButton {
    margin-top: 20px;
    width: max(100px, 20vw);
    height: max(50px, 10vw);
}

#settingsButton {
    width: max(100px, 20vw);
    height: max(50px, 10vw);
}

.button {
    background-color: #ddd;
    border-radius: 8px;
    border: 1px solid black;
    color: #333333;
    cursor: pointer;
    font-size: max(14px, 3vw);
    line-height: 20px;
    font-weight: 300;
    margin: 0;
    /* padding: 10px 12px; */
    text-align: center;
    user-select: none;
}



@media (hover: hover) {
    .darkCell:hover {
        background-color: #333;
    }
    .lightCell:hover {
        background-color: #ccc;
    }
    .button:hover {
        background-color: #ccc;
    }
}