.gridWrapper {
    display: grid;
    width: 100%;
    margin: 20px;
}

.cell {
    aspect-ratio: 1/1;
    border: 1px solid black;
}

.darkCell {
    background-color: #222;
}

.lightCell {
    background-color: #ddd;
}

#modeTogglerButton {
    margin-top: 20px;
    width: max(100px, 20vw);
    height: max(50px, 10vw);
}

#settingsButton {
    width: max(100px, 20vw);
    height: max(50px, 10vw);
}

@media (hover: hover) {
    .darkCell:hover {
        background-color: #333;
    }
    .lightCell:hover {
        background-color: #ccc;
    }
}