.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.button {
    font-size: 14px;
    height: 32px;
    width: 100px;
}