{% extends "index.html" %}

{% block title %}Settings{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}

{% block content %}
    <form method="POST" class="formWrapper">
        <label for="height">Height</label>
        <input type="number" name="height" id="height" required>

        <label for="width">Width</label>
        <input type="number" name="width" id="width" required>

        <input type="submit" id="submit" value="Play" class="button"> 
    </form>
{% endblock %}